@charset "UTF-8";
.main {
  position: relative; }

.banner-box {
  margin: 0 auto; }
  .banner-box img {
    width: 100%;
    height: 100%; }

.logo {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 1;
  font-size: 30px; }

.nav-box {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 1;
  min-width: 800px; }
  .nav-box .nav-item {
    display: inline-block;
    float: left;
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 14px;
    width: 16%; }
    .nav-box .nav-item a {
      color: #fff; }

.btn-box {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 1;
  font-size: 14px; }
  .btn-box .login_btn {
    background-color: transparent;
    color: #261450;
    border: 1px solid #261450;
    margin-right: 20px; }
  .btn-box .register_btn {
    border: 0;
    background-color: #261450;
    color: #fff; }
  .btn-box button {
    outline: none;
    width: 70px;
    height: 30px; }

.nav-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px; }
  .nav-container.isScroll {
    background-color: #fff;
    border-bottom: 1px solid #ddd; }
    .nav-container.isScroll a {
      color: #000; }
    .nav-container.isScroll .login_btn {
      color: #261450;
      margin-right: 20px; }
  .nav-container .nav-item.scrollClicked a {
    color: #024190; }

.nav-link.active {
  color: #024190 !important; }
  .nav-link.active span {
    padding-bottom: 22px;
    border-bottom: 2px solid #024190; }

.nav-link {
  padding: 0; }

.content {
  overflow: hidden; }
  .content .headline {
    text-align: center;
    font-size: 35px;
    color: #061D43;
    padding-top: 100px; }
    .content .headline .txt {
      position: relative; }
    .content .headline .txt:after {
      content: '';
      position: absolute;
      display: inline-block;
      bottom: -20px;
      left: 28%;
      width: 60px;
      height: 10px;
      background-color: #0050AF;
      border-radius: 5px; }
    .content .headline .fun_content {
      width: 60%;
      margin: 0 auto;
      margin-top: 60px; }
      .content .headline .fun_content .fun_box {
        display: inline-block;
        float: left;
        margin-bottom: 70px; }
        .content .headline .fun_content .fun_box span {
          display: block; }
        .content .headline .fun_content .fun_box .fun_icon {
          display: inline-block;
          width: 80px;
          height: 80px;
          background-image: url("../images/hexagon.png");
          background-size: 100% 100%; }
        .content .headline .fun_content .fun_box .fun_title {
          padding: 20px 0;
          color: #333;
          font-size: 18px; }
        .content .headline .fun_content .fun_box .fun_intro {
          margin-left: -5px;
          margin-right: -5px;
          text-align: left;
          color: #383838;
          font-size: 14px; }
    .content .headline.chosen-content {
      background-color: #F4F6F9; }
    .content .headline .chosen_content {
      width: 60%;
      margin: 0 auto;
      margin-top: 70px;
      color: #061D43;
      font-size: 12px; }
      .content .headline .chosen_content .chosen_box {
        background-color: #F4F6F9; }
        .content .headline .chosen_content .chosen_box .chosen_item {
          margin-bottom: 50px;
          background-color: #fff; }
          .content .headline .chosen_content .chosen_box .chosen_item .chosen_pic {
            display: inline-block;
            width: 100%;
            height: 150px;
            background-image: url("../images/pic.png");
            background-repeat: no-repeat;
            background-size: cover; }
          .content .headline .chosen_content .chosen_box .chosen_item .chosen_icon {
            display: block;
            margin: 20px 0 20px 20px;
            width: 40px;
            height: 44px;
            background-image: url("../images/brandLogo.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
          .content .headline .chosen_content .chosen_box .chosen_item .chosen_intro {
            display: block;
            padding: 20px;
            padding-top: 0;
            text-align: left; }
    .content .headline .partner_content {
      margin: 0 auto;
      margin-top: 70px;
      width: 60%; }
      .content .headline .partner_content .partner_box {
        display: inline-block;
        width: 188px;
        height: 80px;
        line-height: 80px;
        background-image: url("../images/partner.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 40px;
        color: #333;
        font-size: 14px; }
        .content .headline .partner_content .partner_box .partner_item {
          display: flex;
          align-items: center;
          justify-content: center; }
        .content .headline .partner_content .partner_box .partner_icon {
          display: inline-block;
          width: 40px;
          height: 44px;
          background-image: url("../images/brandLogo.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .content .headline .partner_content .partner_box .partner_name {
          padding-left: 10px; }

/*轮播图分页器样式*/
.swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  border-radius: 2px; }

/*底部导航栏*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 254px;
  background-color: #0B1E32;
  color: #fff;
  font-size: 12px; }
  .footer .left_contact {
    display: inline-block; }
    .footer .left_contact p {
      display: flex;
      align-items: center;
      padding: 10px 0; }
    .footer .left_contact .contact_title {
      font-size: 17px; }
    .footer .left_contact .address_svg {
      display: inline-block;
      width: 10px;
      height: 12px;
      background-image: url("../images/address.png");
      background-repeat: no-repeat;
      background-size: 10px 12px;
      background-position: center; }
    .footer .left_contact .phone_svg {
      display: inline-block;
      width: 10px;
      height: 12px;
      background-image: url("../images/mobile.png");
      background-repeat: no-repeat;
      background-size: 10px 12px;
      background-position: center; }
    .footer .left_contact .mail_svg {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-image: url("../images/mail.png");
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: center; }
  .footer .line {
    display: inline-block;
    width: 2px;
    height: 134px;
    background-color: #606368; }
  .footer .right_code {
    display: inline-block; }
    .footer .right_code span {
      display: inline-block;
      width: 124px;
      height: 124px; }
      .footer .right_code span:first-child {
        position: relative;
        right: 60px; }
    .footer .right_code .appCode {
      position: relative;
      background-image: url("../images/APP.png");
      background-repeat: no-repeat;
      background-size: 110px 110px;
      background-position: center top; }
      .footer .right_code .appCode:after {
        content: "“宝在米家”下载二维码";
        position: absolute;
        bottom: -10px; }
    .footer .right_code .weixinCode {
      position: relative;
      background-image: url("../images/weixin.png");
      background-repeat: no-repeat;
      background-size: 110px 110px;
      background-position: center top; }
      .footer .right_code .weixinCode:after {
        content: "扫描关注“霍格教育”微信公众号";
        position: absolute;
        bottom: -20px; }

.footer_bottom {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #051423;
  font-size: 14px;
  color: #fff; }

/*# sourceMappingURL=storeIndex.css.map */
