
.main {

  position: relative;
}

//::-webkit-scrollbar {display: none;}
.banner-box {
  min-width: 1100px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
  }
}


.logo {
  display: inline-block;
  float: left;
  text-align: left;
  z-index: 1;
  font-size: 30px;
  line-height: 70px;
  width: 27%;
  padding-left: 20px;
  span {
    //margin-right: 20%;
  }
}

.nav-box {
  display: inline-block;
  float: left;
  z-index: 1;
  width: 55%;


  .nav-item {
    display: inline-block;
    cursor: pointer;
    width: 16%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 14px;
    a {
      //color: #000;
      color: #fff;
    }
  }
}

.btn-box {

  display: inline-block;
  text-align: left;
  z-index: 1;
  font-size: 14px;
  display: flex;
  align-items: center;

  width: 15%;
  justify-content: flex-end;

  .login_btn {
    background-color: transparent;
    color: #261450;
    border: 1px solid #261450;
    margin-right: 20px;

  }

  .register_btn {
    border: 0;
    background-color: #261450;
    color: #fff;

  }

  button {

    outline: none;
    width: 70px;
    height: 30px;
  }
}
.nav {
  min-width: 1100px;
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  &.isScroll {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    a {
      color: #000;
      cursor: pointer;
    }

    .login_btn {
      color: #261450;
      margin-right: 20px;
    }
  }
}
.nav-container {

  //position: fixed;
  //top: 0;
  //z-index: 1;
  display: flex;
  overflow: hidden;
  width: 1100px;
  height: 70px;

  margin: 0 auto;


  &.isScroll {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    a {
      color: #000;
      cursor: pointer;
    }

    .login_btn {
      color: #261450;
      margin-right: 20px;
    }
  }

  .nav-item {
    width: 16%;
    &.scrollClicked {
      a {
        color: #024190;
      }
    }
  }


}

.nav-link.active {
  color: #024190 !important;
  span {
    padding-bottom: 22px;
    border-bottom: 2px solid #024190
  }
}

.nav-link {
  padding: 0;
}


.content {
  overflow: hidden;


  .headline {
    text-align: center;
    font-size: 35px;
    color: #061D43;

    width: 1100px;

    overflow: hidden;
    margin: 0 auto;
    padding-top: 100px;
    //margin-top:-100px;


    .txt {
      position: relative;
    }

    .txt:after {
      content: '';
      position: absolute;
      display: inline-block;
      bottom: -20px;
      left: 28%;
      width: 60px;
      height: 10px;
      background-color: #0050AF;
      border-radius: 5px;
    }

    .fun_content {

      margin: 0 auto;
      margin-top: 70px;

      overflow: hidden;
      .fun_box {

        //border: 1px solid red;
        display: inline-block;
        float: left;
        width: 155px;
        height: 200px;
        margin: 0 14px;

        margin-bottom: 70px;

        span {
          display: block;
        }

        .fun_icon {
          display: inline-block;
          width: 80px;
          height: 80px;
          background-image: url("../images/hexagon.png");
          background-size: 100% 100%;
        }

        .fun_title {
          padding: 20px 0;
          color: #333;
          font-size: 18px;
        }

        .fun_intro {


          text-overflow:ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;/*超出2行显示省略号*/
          overflow: hidden;


          margin-left: -5px;
          margin-right: -5px;
          text-align: left;

          color: #383838;
          font-size: 14px;
          line-height: 21px;


        }
      }
    }


    &.function {
      //padding-top:100px;
      //margin-top:-100px;
    }

    &.chosen-content {
      background-color: #F4F6F9;

      width: 100%;
    }

    .chosen_content {
      width: 1100px;
      margin: 0 auto;
      margin-top: 70px;
      //overflow: hidden;
      color: #061D43;
      font-size: 14px;

      .chosen_box {
        display: inline-block;
        //float: left;

        width: 245px;
        height: 330px;
        background-color: #F4F6F9;
        //margin: 0 auto;
        margin: 0 13px;
        padding-bottom: 0;
        margin-bottom: 50px;
        .chosen_item {
          width: 100%;
          height: 100%;
          margin-bottom: 50px;
          background-color: #fff;

          .chosen_pic {
            display: inline-block;
            width: 100%;
            height: 150px;
            background-image: url(../images/pic.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          .chosen_icon {
            display: block;
            margin: 20px 0 20px 20px;
            width: 40px;
            height: 44px;
            background-image: url("../images/brandLogo.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }

          .chosen_intro {
            display: block;
            padding: 17px;
            padding-top: 0;
            text-align: left;
            line-height: 20px;
            //font-size: 14px;
          }

        }

      }

    }

    .partner_content {

      margin: 0 auto;
      margin-top: 70px;
      //width: 60%;
      //text-align: center;

      .partner_box {
        display: inline-block;
        float: left;
        width: 188px;
        height: 80px;
        line-height: 80px;
        background-image: url("../images/partner.png");
        background-repeat: no-repeat;

        background-size: 188px 80px;
        background-position: center;

        margin: 0 15px;
        margin-bottom: 40px;

        color: #333;
        font-size: 14px;

        .partner_item {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .partner_icon {
          display: inline-block;
          width: 40px;
          height: 44px;
          background-image: url("../images/brandLogo.png");
          background-repeat: no-repeat;
          background-size: cover;

        }

        .partner_name {
          padding-left: 10px;

        }
      }
    }
  }

}


/*轮播图分页器样式*/

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet {

  width: 50px;
  height: 3px;
  border-radius: 2px;
}


/*底部导航栏*/

.footer {
  //position: fixed;
  //bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;

  min-width: 1100px;
  height: 254px;
  background-color: #0B1E32;


  color: #fff;
  font-size: 12px;
  margin: 0 auto;
  .left_contact {
    display: inline-block;

    p {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }

    .contact_title {

      font-size: 17px;
    }

    .address_svg {
      display: inline-block;
      width: 10px;
      height: 12px;

      background-image: url("../images/address.png");
      background-repeat: no-repeat;
      background-size: 10px 12px;
      background-position: center;
    }

    .phone_svg {
      display: inline-block;
      width: 10px;
      height: 12px;

      background-image: url("../images/mobile.png");
      background-repeat: no-repeat;
      background-size: 10px 12px;
      background-position: center;
    }

    .mail_svg {
      display: inline-block;
      width: 12px;
      height: 12px;

      background-image: url("../images/mail.png");
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: center;
    }

  }

  .line {

    display: inline-block;
    width: 2px;
    height: 134px;
    background-color: #606368;

  }

  .right_code {
    display: inline-block;

    span {
      display: inline-block;

      width: 124px;
      height: 124px;

      &:first-child {
        position: relative;
        right: 64px;
      }
    }

    .appCode {
      position: relative;
      background-image: url("../images/APP.png");
      background-repeat: no-repeat;
      background-size: 110px 110px;
      background-position: center top;

      &:after {
        content: "“宝在米家”下载二维码";
        position: absolute;
        bottom: -10px;
      }
    }

    .weixinCode {
      position: relative;

      background-image: url("../images/weixin.png");
      background-repeat: no-repeat;
      background-size: 110px 110px;
      background-position: center top;

      &:after {
        content: "扫描关注“霍格教育”微信公众号";
        position: absolute;
        bottom: -20px;
      }
    }
  }

}

.footer_bottom {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #051423;
  font-size: 14px;
  color: #fff;
  min-width: 1100px;
  margin: 0 auto;

}


.col-lg-2 ,.col-xs-2 ,.col-lg-3 ,.col-md-2 {
  padding: 0;
}
.col-lg-8 ,.col-xs-8 ,.col-md-8,.col-xs-12 ,.col-md-6 {
  padding: 0;
}

.swiper-pagination {
  margin-bottom: 15px;
}